<!--注册页面-->
<ion-view view-title="注册" style="background:url('img/register_bg.jpg') no-repeat; background-size:cover;">
 <!-- <ion-header-bar>
    <a href="#/tab/login"><button class="button button-calm">
      <i class="icon ion-android-arrow-back"></i>
      登录
    </button></a>
    <h3 class="title">注册</h3>-->
  </ion-header-bar>
  <ion-content >
    <style>
      a{
        text-decoration: none;
        color: #000;
      }
      .button{
        border-radius: .15rem;
      }
      .reg_wrap{
        position: relative;
        width: 100%;
        height: 4rem;
      }
      .reg_wrap .reg{
        position: absolute;
        width: 3rem;
        height:1.5rem;
        bottom: 0;
        left: -1.5rem;
        margin-left: 50%;
        font-size: .8rem;
        color: #fff;
        text-align: center;
      }
    </style>
    <div class="reg_wrap">
      <div class="reg">注册</div>
    </div>
    <div class="list list-inset" style="opacity: .5">
      <label class="item item-input">
        <input type="text" placeholder="用户名">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="邮箱">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="手机号">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="密码">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="再次输入密码">
      </label>
    </div>
    <div style="margin: 20px 10px;">
      <a href="#/tab/login"><button class="button button-positive button-full">
        完成
      </button></a>
    </div>
  </ion-content>
</ion-view>
