<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">

  <!-- 首页 -->
  <ion-tab title="主页" icon-off="ion-ios-home-outline" icon-on="ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- 课程列表 -->
  <ion-tab title="课程列表" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/courselist">
    <ion-nav-view name="tab-courselist"></ion-nav-view>
  </ion-tab>

  <!-- 我的课程 -->
  <ion-tab title="我的课程" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/mycourse">
    <ion-nav-view name="tab-mycourse"></ion-nav-view>
  </ion-tab>

  <!-- 个人中心 -->
  <ion-tab title="个人中心" icon-off="ion-ios-gear-outline" icon-on="ion-gear-a" href="#/tab/personal">
    <ion-nav-view name="tab-personal"></ion-nav-view>
  </ion-tab>


</ion-tabs>
